<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>同济大学经济与管理学院学生会办事网站</title>
</head>

<body>
	<div id="header">{{ mes2 }}</div><br>
	<p>{{ message3 }}</p><br>
	<form name='loginfr' action='.' method='POST'>{% csrf_token %}
		{{ proj_form.as_p }}
		<br>
		<input type='submit' value='提交'>
		<input type='reset' value='重置'>
	</form>
	<p>{{ message }}</p><br>
	<form name='ret' action='/userhome' mothod='POST'>{% csrf_token %}
		<input type='submit' value='返回用户界面'>
	</form>
	


	
</body>

</html>