<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>同济大学经济与管理学院学生会办事网站</title>
</head>

<body>
	<div id="header"></div><br>
	
	<form name='loginfr' action='.' method='POST'>{% csrf_token %}
		{{ regis_form.as_p }}
		<br>
		<input type='submit' value='注册'>
		<input type='reset' value='重置'>
	</form>
	<p>{{ message }}</p><br>
	<form name='ret' action='/' mothod='POST'>{% csrf_token %}
		<input type='submit' value='返回首页'>
	</form>

	
</body>

</html>